/out/
/target/

/.idea/*
!/.idea/artifacts
!/.idea/vcs.xml

/src/jni/IMEInterface/.vs/
/src/jni/IMEInterface/bin/
/src/jni/IMEInterface/obj/
/src/jni/*/.vs/
/src/jni/*/x64/
/src/jni/.vs/
/src/jni/x64/
/src/jni/*.sln

/script/jlink/*
!/script/jlink/*.bat
/script/jpackage/*
!/script/jpackage/build.*

lpfx.iml
lpfx.ipr
lpfx.iws
