/out/
/target/

/.idea/*
!/.idea/artifacts
!/.idea/vcs.xml

/src/jni/*/.vs/
/src/jni/IMEInterface/bin/
/src/jni/IMEInterface/obj/
/src/jni/IMEInterface/*.sln
/src/jni/IMEWrapper/x64/
/src/jni/IMEWrapper/*/x64/
/src/jni/IMEWrapper/*.sln

/script/jlink/*
!/script/jlink/*.bat
/script/jpackage/*
!/script/jpackage/build.*

lpfx.iml
lpfx.ipr
lpfx.iws
